
*{
    box-sizing: border-box;
}
html{
    height: 100%;
    font-family: Verdana;
    font-size: 15px;
    box-sizing: border-box;
}
body{
    margin: 0px;
    width:100%;
    height: 100%;

} 
.transparent_nav{
    color: black;
    display: flex;
    flex-direction: column;
    background-image: url("/images/oie_23224456Eb3GO7K\ \(1\).jpg");
    width: 100%;
    height: 500px;
    /* position: fixed; */
}

.nav_bar{
    position: sticky;
    position: fixed;
    justify-content: start;
    padding-left: 20%;
    width: 100%;
    display: flex;
    align-items: end;
    height: 60px;
    background-color:white;
    opacity:0.7 ;
}
  
/* Navbar links */
.nav_bar a{
    float: right;
    display: block;
    color:black;
    text-align: center;
    padding: 19px;
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    height:100%;
    width: 100%;
}
.arklogo{
    max-height: 62px;
}
.billboard{
    max-height: 70%;
}
#nav_list{
    margin-left: 40%;
    justify-items: right;
    max-width: 95%;
    position: fixed;
    margin-top: 0px;
}
#nav_list li{
    display: inline;
    inline-size: inherit;

}
.verticalGap20{
    height: 20px;
}
.cta{
    position: relative;
    display: inline-block;
    background-color:white;
    opacity: 0.7;
    margin-top: 430px;
    padding-top: 10px;
    height: 60px;
    justify-items: right;
    width: 100%;
} 

.cta :hover{
    background-color: white;
}

.cta #cta_link { 
    justify-items: right;
    margin-left:40%;
    width: 200px; 
    height: 5px;
    background-color:rgb(87, 204, 250);
    border:7px solid rgb(87, 204, 250);
    color: white;
    position: relative;
} 
.cta #cta_text{
    margin:10px;
}

.cta #cta_header{
    display: inline;
} 
a{  
    text-decoration:none;
    color:white;
    
}

.companyslogan p{
    margin-top: 70px;
    font-size: 20px;
    color:grey;
    margin-left: 450px;
    position: relative;
    justify-content: center;
    margin-bottom: 70px;
}
.column_ul {
    float: left;
    width:inherit;
    height: 200px; /* Should be removed. Only for demonstration */
    list-style-type: none;
    margin-left: 17%;
  }
  .left, .right , .middle {
    width: 15%;
    text-align: center;
  }
  
  /* Clear floats after the columns */
  .services_wrapper {
    display: table;
    clear: both;
  }


.recent_work{
    height: 200px;
}
.column img{
    float: left;
    width: 20%;
    height: 200px;
    
  }
.column :hover{
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
      
}

.testimonials p{
    margin-top: 70px;
    font-size: 20px;
    color:grey;
    position: relative;
    text-align: center;
    margin-bottom: 70px;
}


.testi {
    float: left;
    width:inherit;
    height: 300px; /* Should be removed. Only for demonstration */
    list-style-type: none;
    justify-content: space-around;
    margin-left: 5%;
  }
.testi img{
      border-radius: 50%;
  }
.first, .second , .third {
    width: 25%;
    text-align: center;
  }
  
  /* Clear floats after the columns */
.testimonials_wrapper {
    display: table;
    clear: both;
  }
.brand{
    background-color: white;
    opacity: 0.9;
}
.brandlogos{
    margin-left: 30%;
}
.footer_widget{
height: 200px;
background-color: rgb(36, 34, 34);
border-left: 10%;
}
.box-2{
  float: left;
  width: 25%;
  text-align:center;
list-style-type: none;
color:#fff;
text-decoration: none;
background-color: rgb(36, 34, 34);
margin: 0px;
padding: 0px;
}
.box-2 #locations{
    padding-top: 10px;
    margin:10px;
    /* text-align: center; */
    padding-left: 5%;
}
.box-2 #locations address{
    text-align: left;
}
.box-2 #support{
    padding-top: 10px;
    margin: 10px;
    /* margin-right: 0px;
    padding-right: 0px; */
    /* float: left; */
}
.box-2 #company{
  padding-top: 10px;   
  margin: 10px;
  /* float: left; */
  
}
.box-2 #ark{
    padding-top: 10px;
    /* margin:10px; */
    margin-right: 20px;
    /* float: left; */
}
.box-2 #comp_list li{
    text-decoration: none;
    list-style: none;
}
.box-2 #comp_list li a{
    text-decoration: none;
    color: white;
    text-align: left;
}
.box-2 #sup_list li{
    list-style: none;
    text-align: left;
}
.box-2 #support{
    text-align: left;
}
.box-2 #sup_list li a{
    text-decoration: none;
    color: white;
}
.box-2 img{
   margin-top:20px;
}
.box-2 #sup_list #sup_item_3{
  padding-bottom:31px;
}
.box-2 #comp_list #comp_item_4{
  padding-bottom: 14px;
}
.box-2 #ark-para{
  padding-bottom: 31px;
  padding-right: 10%;
  text-align: justify;
}
.clear{
  clear: both;
}
.rights{
  text-align:center;
  color: #fff;
  background-color: rgb(36, 34, 34);
  margin:0px;
  padding-left: 10px;
  padding-top: 40px;
  padding-bottom:20px;
}



